<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">

	<title>{ifset title}{include title|stripHtml} | {/ifset}Nette Web</title>
	<link rel="stylesheet" href="{$basePath}/assets/dist/css/style.min.css"/>
</head>

<body>
	{snippet flashes}
		<div n:foreach="$flashes as $flash" class="alert alert-{$flash->type}">
			{$flash->message}
		</div>
	{/snippet}

	{include content}
	<script src="{$basePath}/assets/dist/js/script.min.js"></script>
</body>
</html>
