{form form}
	<fieldset>
		<div class="form-group">
			{label title, class => $form['title']->isRequired() ? 'required'/}
			{input title, class => 'form-control'}
			<small n:if="$desc = $form['title']->getOption('description')" class="form-text text-muted">{$desc}</small>
		</div>
		<div class="form-group">
			{label content, class => $form['content']->isRequired() ? 'required'/}
			{input content, class => 'form-control'}
			<small n:if="$desc = $form['content']->getOption('description')" class="form-text text-muted">{$desc}</small>
		</div>
	</fieldset>

	<fieldset>
		<legend>Seo</legend>
		<div class="form-group">
			{label author, class => $form['author']->isRequired() ? 'required' /}
			{input author, class => 'form-control'}
			<small n:if="$desc = $form['author']->getOption('description')" class="form-text text-muted">{$desc}</small>
		</div>
		<div class="form-group">
			{label meta_description, class => $form['meta_description']->isRequired() ? 'required' /}
			{input meta_description, class => 'form-control'}
			<small n:if="$desc = $form['meta_description']->getOption('description')" class="form-text text-muted">{$desc}</small>
		</div>
		<div class="form-group">
			{label meta_keywords, class => $form['meta_keywords']->isRequired() ? 'required' /}
			{input meta_keywords, class => 'form-control'}
			<small n:if="$desc = $form['meta_keywords']->getOption('description')" class="form-text text-muted">{$desc}</small>
		</div>

	</fieldset>

	<div class="text-right">
		<button type="submit" class="btn btn-primary">
			{$form['submit']->caption}
			<i class="fa fa-arrow-right"></i>
		</button>
	</div>
{/form}