{snippet pageList}
<div n:foreach="$pages as $page" style="margin-top: 15px;">
	<div class="row">
		<div class="col">
			<h2 style="padding-top: 0; font-weight: 900;">{$page->getTitle()}</h2>
		</div>
		<div class="col text-right">
			<a class="ajax btn btn-primary btn-sm" n:href="showEditForm!, $page->getId()" title="Edit page">
				<i class="fa fa-pencil"></i>
			</a>
			<a class="ajax btn btn-danger btn-sm" n:href="remove!, $page->getId()" title="Remove page">
				<i class="fa fa-remove"></i>
			</a>
		</div>
	</div>
	<p>{$page->getContent()}</p>
	<hr n:if="!$iterator->isLast()">
</div>
{/snippet}

<!-- The Modal -->
<div class="modal" id="editPageModal">
	<div class="modal-dialog">O
		<div class="modal-content">

			<!-- Modal Header -->
			<div class="modal-header">
				<h4 class="modal-title">Edit page</h4>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>

			<!-- Modal body -->
			<div class="modal-body">
				{snippet pageForm}
					{control pageForm}
				{/snippet}
			</div>
		</div>
	</div>
</div>

{snippet script}
	{ifset $showModal}
		<script>
			$("#editPageModal").modal('show');
		</script>
	{/ifset}
{/snippet}
